<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Roost.Kitchen.App.Properties.Settings.AzureServiceBusConnectionString"
            connectionString="{MESSAGE_QUEUE_CONNECTION}" />
    </connectionStrings>
</configuration>